<route>
  <unit name="dms">
    <domains>
      <domain enableSubdomain="false">sample.com</domain>
      <domain>localhost:8080</domain>
    </domains>
    <controllers>
      <controller name="Home" default="true">
        <action name="Index" readable="index" default="true"/>
      </controller>
      <controller name="DeviceInfo" default="false">
        <action name="Index" readable="index" default="true"/>
        <action name="AddDevice" readable="add" default="false"/>
        <action name ="DeleteDevice" readable="delete" default="false"/>
        <action name="QuerySingleDevice" readable="querysingle" default="false"/>
        <action name="EditDevice" readable="edit" default="false"/>
        <action name="DeviceStatus" readable="status" default="false"/>
        <action name="DeviceStatistics" readable="statistics" default="false"/>
      </controller>
      
      <controller name="MaintenanceInfo" default="false">
        <action name="Plan" readable="plan" default="true"/>
        <action name="AddPlan" readable="addplan" default="false"/>
        <action name="EditPlan" readable="editplan" default="false"/>
        <action name="DeletePlan" readable="deleteplan" default="false"/>
        <action name="QuerySinglePlan" readable="querysingleplan" default="false"/>
        
        <action name="Record" readable="record" default="false"/>
        <action name="AddRecord" readable="addrecord" default="false"/>
        <action name="EditRecord" readable="editrecord" default="false"/>
        <action name="DeleteRecord" readable="deleterecord" default="false"/>
        <action name="QuerySingleRecord" readable="querysinglerecord" default="false"/>

        <action name="Repair" readable="repair" default="false"/>
        <action name="AddRepair" readable="addrepair" default="false"/>
        <action name="EditRepair" readable="editrepair" default="false"/>
        <action name="DeleteRepair" readable="deleterepair" default="false"/>
        <action name="QuerySingleRepair" readable="querysinglerepair" default="false"/>
      </controller>
      
      <controller name="Monitor" default="false">
        <action name="Index" readable="index" default="true"/>
        <action name="RuntimeParam" readable="runtimeparam" default="false"/>
        <action name="MoveRate" readable="moverate" default="false"/>
        <action name="PowerControl" readable="powercontrol" default="false"/>
        <action name="Alert" readable="alert" default="false"/>
        <action name="Handle" readable="handle" default="false"/>
      </controller>
    </controllers>
  </unit>
</route>