<services>
  <hosts>
    <host name="host" url="http://localhost:9999" />
  </hosts>

  <resources>
    <resource name="operate-device-info" host="host" url="device-info/operate-device-info" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="get-device-info-list" host="host" url="device-info/get-device-info-list" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="operate-maintenance-plan" host="host" url="maintenance-info/operate-maintenance-plan" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="get-maintenance-plan-list" host="host" url="maintenance-info/get-maintenance-plan-list" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="operate-maintenance-record" host="host" url="maintenance-info/operate-maintenance-record" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="get-maintenance-record-list" host="host" url="maintenance-info/get-maintenance-record-list" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="operate-inspection-plan" host="host" url="inspection-info/operate-inspection-plan" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="get-inspection-plan-list" host="host" url="inspection-info/get-inspection-plan-list" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="operate-inspection-record" host="host" url="inspection-info/operate-inspection-record" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="get-inspection-record-list" host="host" url="inspection-info/get-inspection-record-list" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="operate-repair-record" host="host" url="repair-info/operate-repair-record" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="get-repair-record-list" host="host" url="repair-info/get-repair-record-list" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
  </resources>

</services>