<dataCommands>
  <dataCommand name="DeviceOperationData_Write" database="coredb" commandText="Text">
    <commandText>
      <![CDATA[
INSERT INTO dms_coredb.dbo.DeviceOperationData(DeviceNumber, CollectorId, CharValue01, DateValue01, StringValue01, StringValue02, StringValue03, NumberValue01, NumberValue02, Remark) 
VALUES (@DeviceNumber, @CollectorId, @CharValue01, @DateValue01, @StringValue01, @StringValue02, @StringValue03, @NumberValue01, @NumberValue02, @Remark);

DECLARE @Id INT = SCOPE_IDENTITY();

INSERT INTO dms_coredb.dbo.DeviceOperationData_Realtime(Id, DeviceNumber, CollectorId, CreationDate, CharValue01, DateValue01, StringValue01, StringValue02, StringValue03, NumberValue01, NumberValue02, Remark)
SELECT Id, DeviceNumber, CollectorId, CreationDate, CharValue01, DateValue01, StringValue01, StringValue02, StringValue03, NumberValue01, NumberValue02, Remark
  FROM dms_coredb.dbo.DeviceOperationData
 WHERE Id = @Id
      ]]>
    </commandText>
    <params>
      <param name="@DeviceNumber" dbType="String" direction="Input" Size="20" />
      <param name="@CollectorId" dbType="String" direction="Input" Size="3" />
      <param name="@CharValue01" dbType="String" direction="Input" Size="1" />
      <param name="@DateValue01" dbType="DateTime" direction="Input" />
      <param name="@StringValue01" dbType="String" direction="Input" Size="20" />
      <param name="@StringValue02" dbType="String" direction="Input" Size="20" />
      <param name="@StringValue03" dbType="String" direction="Input" Size="20" />
      <param name="@NumberValue01" dbType="Int32" direction="Input" Size="4" />
      <param name="@NumberValue02" dbType="Int32" direction="Input" Size="4" />
      <param name="@Remark" dbType="String" direction="Input" Size="20" />
    </params>
  </dataCommand>

  <dataCommand name="WriteDeviceOperationData" database="coredb" commandText="Text">
    <commandText>
      <![CDATA[
USE dms_coredb
DECLARE @TableName VARCHAR(200) = 'DeviceOperationData_' + @DeviceNumber + '_' +  CONVERT(CHAR(4), YEAR(GETDATE()))
IF NOT EXISTS (SELECT * 
                 FROM INFORMATION_SCHEMA.TABLES 
                WHERE TABLE_SCHEMA = 'dbo'
                  AND TABLE_NAME = @TableName)
BEGIN
  DECLARE @CreateTableSql NVARCHAR(MAX) = 'CREATE TABLE ' + @TableName + '
  (
    Id INT NOT NULL IDENTITY(1, 1),
    DeviceNumber VARCHAR(20) NOT NULL,
    CollectorId CHAR(3) NOT NULL,
    CreationDate DATETIME NOT NULL DEFAULT GETDATE(),
    CharValue01 CHAR(1) NULL,
    DateValue01 DATETIME NULL,
    StringValue01 VARCHAR(20) NULL,
    StringValue02 VARCHAR(20) NULL,
    StringValue03 VARCHAR(20) NULL,
    NumberValue01 DECIMAL(18,6) NULL,
    NumberValue02 DECIMAL(18,6) NULL,
    Remark NVARCHAR(20) NULL,
    Source NVARCHAR(1024) NOT NULL,
    CONSTRAINT PK_' + UPPER(@TableName) + ' PRIMARY KEY (Id),
  );
  CREATE INDEX IX_' + UPPER(@TableName) + '_DEVICENUMBER ON ' + @TableName + ' (DeviceNumber);
  CREATE INDEX IX_' + UPPER(@TableName) + '_COLLECTORID ON ' + @TableName + ' (CollectorId);
  CREATE INDEX IX_' + UPPER(@TableName) + '_CREATIONDATE ON ' + @TableName + ' (CreationDate);'
  EXEC sp_executesql @CreateTableSql
END
DECLARE @InsertDataSql NVARCHAR(MAX) = '
  INSERT INTO ' + @TableName + '(DeviceNumber, 
                                 CollectorId, 
                                 CharValue01, 
                                 DateValue01, 
                                 StringValue01, 
                                 StringValue02, 
                                 StringValue03, 
                                 NumberValue01, 
                                 NumberValue02, 
                                 Remark,
                                 Source)
  VALUES (@DeviceNumber,
          @CollectorId,
          @CharValue01,
          @DateValue01,
          @StringValue01,
          @StringValue02,
          @StringValue03,
          @NumberValue01,
          @NumberValue02,
          @Remark,
          @Source)'
EXEC sp_executesql @InsertDataSql, N'@DeviceNumber VARCHAR(20), 
                                     @CollectorId CHAR(3), 
                                     @CharValue01 CHAR(1), 
                                     @DateValue01 DATETIME, 
                                     @StringValue01 VARCHAR(20), 
                                     @StringValue02 VARCHAR(20),
                                     @StringValue03 VARCHAR(20),
                                     @NumberValue01 DECIMAL(18,6),
                                     @NumberValue02 DECIMAL(18,6),
                                     @Remark NVARCHAR(20),
                                     @Source NVARCHAR(1024)',
                                     @DeviceNumber = @DeviceNumber, 
                                     @CollectorId = @CollectorId, 
                                     @CharValue01 = @CharValue01, 
                                     @DateValue01 = @DateValue01,
                                     @StringValue01 = @StringValue01,
                                     @StringValue02 = @StringValue02,
                                     @StringValue03 = @StringValue03,
                                     @NumberValue01 = @NumberValue01,
                                     @NumberValue02 = @NumberValue02,
                                     @Remark = @Remark,
                                     @Source = @Source
      ]]>
    </commandText>
    <params>
      <param name="@DeviceNumber" dbType="String" direction="Input" Size="20" />
      <param name="@CollectorId" dbType="String" direction="Input" Size="3" />
      <param name="@CharValue01" dbType="String" direction="Input" Size="1" />
      <param name="@DateValue01" dbType="DateTime" direction="Input" />
      <param name="@StringValue01" dbType="String" direction="Input" Size="20" />
      <param name="@StringValue02" dbType="String" direction="Input" Size="20" />
      <param name="@StringValue03" dbType="String" direction="Input" Size="20" />
      <param name="@NumberValue01" dbType="Int32" direction="Input" Size="4" />
      <param name="@NumberValue02" dbType="Int32" direction="Input" Size="4" />
      <param name="@Remark" dbType="String" direction="Input" Size="20" />
      <param name="@Source" dbType="String" direction="Input" Size="1024" />
    </params>
  </dataCommand>
</dataCommands>