<?xml version="1.0" encoding="utf-8" ?>
<objects>
  <import path="./Configuration/DeviceDataSources.config" />

  <object name="BRO#01-Production-Deamon" type="Dade.Dms.Dev.Deamon, dev" singleton="true">
    <args>
      <arg name="name">BRO#01-Production</arg>
      <arg name="description"></arg>
      <arg name="interval">6000</arg>
    </args>
  </object>

  <object name="BRO#01-Panel-Deamon" type="Dade.Dms.Dev.Deamon, dev" singleton="true">
    <args>
      <arg name="name">BRO#01-Panel</arg>
      <arg name="description"></arg>
      <arg name="interval">6000</arg>
    </args>
  </object>

  <object name="BRO#01-Alarm-Deamon" type="Dade.Dms.Dev.Deamon, dev" singleton="true">
    <args>
      <arg name="name">BRO#01-Alarm</arg>
      <arg name="description"></arg>
      <arg name="interval">6000</arg>
    </args>
  </object>
</objects>