<dataSet>
  <row collectorId="PR1" enabled="true">
    <field index="0" dbRef="DateValue01" dataType="date" format="yyyyMMddHHmmss" />
    <field index="1" dbRef="StringValue01" dataType="string" />
    <field index="2" dbRef="StringValue02" dataType="string" />
    <field index="3" dbRef="StringValue03" dataType="string" />
  </row>
</dataSet>