<?xml version="1.0" encoding="utf-8" ?>
<opcSettings>
  <opcGroups enable="true" defaultGroupDeadband="-1" defaultGroupIsActive="true" defaultGroupLocaleID="-1" defaultGroupTimeBias="-1" defaultGroupUpdateRate="-1"/>
  <opcGroup enable="true" updateRate="-1" isActive="true" isSubscribed="true" />
</opcSettings>