<dataCommands>
  <dataCommand name="DeviceOperationData_Write" database="coredb" commandText="Text">
    <commandText>
      <![CDATA[
INSERT INTO dms_coredb.dbo.DeviceOperationData(DeviceNumber, CollectorId, CharValue01, DateValue01, StringValue01, StringValue02, StringValue03, NumberValue01, NumberValue02, Remark) 
VALUES (@DeviceNumber, @CollectorId, @CharValue01, @DateValue01, @StringValue01, @StringValue02, @StringValue03, @NumberValue01, @NumberValue02, @Remark);

DECLARE @Id INT = SCOPE_IDENTITY();

INSERT INTO dms_coredb.dbo.DeviceOperationData_Realtime(Id, DeviceNumber, CollectorId, CreationDate, CharValue01, DateValue01, StringValue01, StringValue02, StringValue03, NumberValue01, NumberValue02, Remark)
SELECT Id, DeviceNumber, CollectorId, CreationDate, CharValue01, DateValue01, StringValue01, StringValue02, StringValue03, NumberValue01, NumberValue02, Remark
  FROM dms_coredb.dbo.DeviceOperationData
 WHERE Id = @Id
      ]]>
    </commandText>
    <params>
      <param name="@DeviceNumber" dbType="String" direction="Input" Size="20" />
      <param name="@CollectorId" dbType="String" direction="Input" Size="3" />
      <param name="@CharValue01" dbType="String" direction="Input" Size="1" />
      <param name="@DateValue01" dbType="DateTime" direction="Input" />
      <param name="@StringValue01" dbType="String" direction="Input" Size="20" />
      <param name="@StringValue02" dbType="String" direction="Input" Size="20" />
      <param name="@StringValue03" dbType="String" direction="Input" Size="20" />
      <param name="@NumberValue01" dbType="Int32" direction="Input" Size="4" />
      <param name="@NumberValue02" dbType="Int32" direction="Input" Size="4" />
      <param name="@Remark" dbType="String" direction="Input" Size="20" />
    </params>
  </dataCommand>
</dataCommands>