<?xml version="1.0" encoding="utf-8" ?>
<objects>
  
  <!-- Brother Device: Production DataSource -->
  
  <object name="BRO#01-Production" type="Dade.Dms.Dev.Brother.ProductionDataSource, brother" singleton="true">
    <args>
      <arg name="deviceNumber">BRO#01</arg>
      <arg name="collectorId">PR1</arg>
      <arg name="ftpPath">ftp://192.168.0.105/PRD3.NC</arg>
      <arg name="cacheFilePath">./cache/BRO#01-Production-Cache.dat</arg>
    </args>
  </object>
  
  <!-- Brother Device: Panel DataSource -->

  <object name="BRO#01-Panel" type="Dade.Dms.Dev.Brother.PanelDataSource, brother" singleton="true">
    <args>
      <arg name="deviceNumber">BRO#01</arg>
      <arg name="collectorId">PN1</arg>
      <arg name="ftpPath">ftp://192.168.0.105/PANEL.NC</arg>
      <arg name="cacheFilePath">./cache/BRO#01-Panel-Cache.dat</arg>
    </args>
  </object>
  
  <!-- Brother Device: Alarm DataSource -->

  <object name="BRO#01-Alarm" type="Dade.Dms.Dev.Brother.AlarmDataSource, brother" singleton="true">
    <args>
      <arg name="deviceNumber">BRO#01</arg>
      <arg name="collectorId">AM1</arg>
      <arg name="ftpPath">ftp://192.168.0.105/ALARM.NC</arg>
      <arg name="cacheFilePath">./cache/BRO#01-Alarm-Cache.dat</arg>
    </args>
  </object>
</objects>